<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">

<!--ticketHome 예매가능한 경기 일정 5개 보여주기 -->
<select id="GamelistRevAble" resultType="TicketVo"> <!--별칭 config 만들기   -->

select *
from (select t.team_img, s.*  
        from team t join schedule s 
        on (t.SPONSOR = s.rival)
        order by s.schedule_no)
<![CDATA[where rownum <= 6]]> and <![CDATA[game_date >= sysdate-1 ]]>

</select>




</mapper>