<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<insert id="insertOne">
		INSERT INTO	ACCOUNT
			(ID, PW, PROFILE, NAME, NICKNAME, JOIN_DATE, PHONE)
		VALUES
			(#{id}, #{pw}, #{profile}, #{name}, #{nickname}, SYSDATE, #{phone})
	</insert>
	
	<select id="selectOneById" resultType="accountVo2">
		SELECT * FROM ACCOUNT WHERE ID=#{id}
	</select>
	<select id="selectPassById" resultType="string">
		SELECT PW FROM ACCOUNT WHERE ID=#{id}
	</select>
	<select id="selectCntByNickName" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM ACCOUNT WHERE NICKNAME = #{nickName}
    </select>
	
	<update id="updateOne">
		UPDATE ACCOUNT 
		<set>
			<if test="pw != null">
				PW = #{pw},
			</if>
			<if test="profile != null">
				PROFILE = #{profile},
			</if>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="nickname != null">
				NICKNAME = #{nickname},
			</if>
			<if test="point != null">
				POINT = #{point},
			</if>
			<if test="reportCnt != null">
				REPORT_CNT = #{reportCnt},
			</if>
			<if test="phone != null">
				PHONE = #{phone},
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	
	<update id="updateSessionIdById">
		UPDATE ACCOUNT
		SET SESSION_ID = #{sessionId},
			LIMIT_TIME = #{limitTime}
		WHERE ID = #{id}
	</update>
	
	<select id="selectOneBySessionId" resultType="accountVo2">
		SELECT * FROM ACCOUNT
		WHERE SESSION_ID = #{sessionId}
	</select>
</mapper>