<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tFile">
	<!-- profile delete시 account테이블 profile컬럼 null로 세팅함 -->
	<delete id="deleteProfile">
		DELETE FROM PROFILE
		WHERE ID = #{id}
	</delete>
	
	<!-- 프로필 insert 되면 account테이블 profile컬럼 update  -->
	<insert id="insertProfile">
		INSERT INTO PROFILE
		VALUES(#{id}, #{profileName}, #{contentType}, #{profilePath})
	</insert>
	<update id="updateAccountTableProfile">
		UPDATE ACCOUNT
		SET PROFILE = #{profileName}
		WHERE ID = #{id}
	</update>
</mapper>