<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketPayment">


	<!--결제완료시 baseball Table에 insert / insert는 어차피 int라서 resultType 생략가능 -->
	<insert id="paymentComplete" parameterType="buyerInfoVo"> 
		Insert Into Baseball(Baseball_No,Buyer,Buy_Date,Base_Info_No,Total,Buyer_Cnt,Schedule_No)
		Values (Baseball_No.nextval, #{buyer}, sysdate, #{baseInfoNo}, #{total}, #{buyerCnt}, #{scheduleNo})
	
		<selectKey resultType="int" keyProperty="baseballNo" order="AFTER">
			select Baseball_No.currval from dual
		</selectKey>
	</insert>
	
	<!--결제 완료 후 결제 정보 출력 -->
	<select id="showCompleteInfo" resultType="buyerInfoVo" >
		select b.buyer_cnt,s.game_date,s.game_time,s.rival,i.baseball_zone
		from baseball b, schedule s, baseball_info i
		where b.schedule_no = s.schedule_no
		and b.base_info_no = i.base_info_no
		and Baseball_No = #{baseballNo}
	</select>
</mapper>


