<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seatArea">


	<!-- ticketDetail.jsp -->

	<!-- ticketDetail 선택한 경기 1개 -->
	<select id="selectGame" resultType="ticketVo"
		parameterType="int">
		select *
		from schedule s inner join team t on
		(s.rival =
		t.sponsor) where s.schedule_no = #{no}
	</select>

	<!-- 좌석 6개 라디오 -->
	<select id="seatList" resultType="seatChoiceVo">
		select base_info_no, baseball_zone
		from baseball_info
	</select>

	<!-- 좌석을 파라미터로 받아서 행 가져오기 -->
	<select id="weekPrice" resultType="seatChoiceVo">
		select *
		from baseball_info
		where baseball_zone = #{baseballZone}
	</select>

	

</mapper>