<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>

	<typeAliases>
		<typeAlias type="org.baseball.kia.entity.BoardVo_yg" alias="board" />
		<typeAlias type="org.baseball.kia.entity.PagingVo_yg" alias="paging" />
		<typeAlias type="org.baseball.kia.entity.FileVo_yg" alias="file" />
		<typeAlias type="org.baseball.kia.entity.CommentVo_yg" alias="comment" />
	</typeAliases>
</configuration> 

