<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	
	<typeAliases>
		<!-- 태정 -->
		<typeAlias type="org.baseball.kia.taejeong.entity.AccountVo" alias="accountVo2"/>
		<typeAlias type="org.baseball.kia.taejeong.entity.BaseballVo" alias="baseballVo2"/>
		<typeAlias type="org.baseball.kia.taejeong.entity.TUniformVo" alias="tUniformVo"/>
		<typeAlias type="org.baseball.kia.taejeong.entity.InquiryVo" alias="inquiryVo"/>
		<!-- 영균 -->
		<typeAlias type="org.baseball.kia.yg.entity.BoardVo" alias="board" />
		<typeAlias type="org.baseball.kia.yg.entity.PagingVo" alias="paging" />
		<typeAlias type="org.baseball.kia.yg.entity.FileVo" alias="file" />
		<typeAlias type="org.baseball.kia.yg.entity.CommentVo" alias="comment" />
		<!-- 수빈 -->
		<typeAlias type="org.baseball.kia.subin.entity.AccountVo" alias="accountVo"/>
		<typeAlias type="org.baseball.kia.subin.entity.BaseballVo" alias="baseballVo"/>
		<typeAlias type="org.baseball.kia.subin.entity.LineupVo" alias="lineupVo"/>
		<typeAlias type="org.baseball.kia.subin.entity.PlayerVo" alias="playerVo"/>
		<typeAlias type="org.baseball.kia.subin.entity.ScheduleVo" alias="scheduleVo"/>
		<typeAlias type="org.baseball.kia.subin.entity.UniformInfoVo" alias="uniformInfoVo"/>
		<!-- 은지 -->
		<typeAlias type="org.baseball.kia.eunji.entity.TicketVo" alias="TicketVo"/>
		
	</typeAliases>
</configuration> 

